@import 'tailwindcss';
/* Custom themes */

@theme{
    --breakpoint-*: initial;
    --breakpoint-sm: 425px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    --breakpoint-xl: 1025px;
    --color-primary: #5F6FFF
}

.active hr{
    @apply block
}

::-webkit-scrollbar{
    @apply hidden
}